<IfModule mod_rewrite.c>
    RewriteEngine On

    # Stop processing if the request is a real file or directory
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirect everything else to index.php
    RewriteRule ^ index.php [L]
</IfModule>
